.wrap-loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px;
    width: 79%;
    height: 82vh;
    transform: translateY(50px);
    background-color: #eee;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 9;
}
.custom-loader {
    width: 50px;
    height: 24px;
    background: radial-gradient(circle closest-side, var(--primary) 90%, #0000)
            0% 50%,
        radial-gradient(circle closest-side, var(--primary) 90%, #0000) 50% 50%,
        radial-gradient(circle closest-side, var(--primary) 90%, #0000) 100% 50%;
    background-size: calc(100% / 3) 12px;
    background-repeat: no-repeat;
    animation: d3 1s infinite linear;
    transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden {
    opacity: 0;
    visibility: hidden;
}
.hidden {
    display: none;
}
@keyframes d3 {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%;
    }
    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%;
    }
    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%;
    }
    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%;
    }
}

@media screen and (max-width: 992px) {
    .wrap-loader {
        width: 97%;
    }
}
@media screen and (max-width: 476px) {
    .wrap-loader {
        width: 93%;
    }
}
