body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    background: var(--background, #EEE);
}

.container{
    width: 70%;
    height: 85%;
    border-radius: 16px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 2%; */
}

.image{
    width: 43%;
    height: 85%;
    /* background-color: pink; */
    /* padding-left: 2%; */
    margin-left: 5%;
}

.content{
    width: 40%;
    height: 85%;
    margin-left: 0%;
    margin-top: 7%;
    /* background-color: paleturquoise; */
    
}

h2{
    color: #646464;
    font-family: Poppins;
    font-size: 25px;
    margin:0px;
    opacity: 40%;
    font-weight: 400;
}

h1{
    color: var(--primary, #205295);
    font-family: Poppins;
    font-size: 60px;
    /* background-color: palevioletred; */
    margin:0px;
    margin-top: -20px;
}

.form{
    /* width: 100%; */
    /* background-color: plum; */
    display: flex;
    flex-direction: column;
    margin-top: 1vw; 
    color: #646464;
}

.group{
    width: 90%;
    height: 30%;
    /* background-color: royalblue; */
    margin-bottom: 3%;
}

label{
    color: var(--text-primary, #000);
    font-family: Poppins;
    font-size: 1.2rem;
}

.input{
    margin-top:2%;
    width: 95%;
    height: 35px;
    border-radius: 20px;
    border: 2px solid var(--primary, #205295);
    background: #FFF;

    color: #939393;
    font-family: Poppins;
    font-size: 1rem;

    padding-left: 10px;
}

.password-container{
    position: relative;
}
#eye{
    width: 7%;
    position: absolute;
    top: 46%;
    right: 15px; /* Adjust the right spacing as needed */
    transform: translateY(-50%);
    cursor: pointer;
}

.pass{
    margin-bottom: 4%;
}

.submitbtn{
    color: #FFF;
    font-family: Poppins;
    font-size: 1.38rem;
    width: 100%;
    height: 50%;
    border-radius: 20px;
    border: 2px solid var(--primary, #205295);
    background: var(--primary, #205295);
    margin-top: 2%;
    cursor: pointer;
}

.btn{
    width: 90%;
}

.submitbtn:hover{
    background-color: #16437f;
}

.errormsg{
    color:red;
    font-family: Poppins;
    font-size: 15px;
}

@media screen and (max-width: 906px) {
    .container{
        width: 95%;
    }
}

@media screen and (max-width: 716px) {
    .image{
        display: none;
    }
    .content{
        width: 80%;
        /* background-color: paleturquoise; */
    }
}

@media screen and (max-width: 426px) {
    h1{
        font-size: 2.8em;
    }
    h2{
        font-size: 1.2em;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 376px) {
    label{
        font-size: 1em;
    }
    .input{
        font-size: 0.7em;
    }
    .submitbtn{
        height: 9vw;
        /* background-color: red; */
        font-size: 1em;
    }
    .errormsg{
        font-size: 0.7em;
    }
    h1{
        font-size: 2.3em;
    }
    h2{
        margin-top: 10%;
        font-size: 0.9em;
        padding-bottom: 10px;
    }
}