/* ini base awal, punya JC */
/* biar gak berubah aja base-nya */

hr
{
    color: gray;
}

h4
{
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 1.1rem;
    /* margin-left: 10px; */
}

body
{

    margin-left: 320px;
    margin-right: 20px;
    margin-top: 40px;
    padding: 0;
    font-family: "poppins";

}

.inner-box
{

    display: flex;
    justify-content: space-between;
    gap: 8px;

}

/* ini sisi form mesin cuci */
.schedule-box
{
    padding: 6px 16px 16px 16px;
    background-color: white;
    /* height: auto; */
    /* width: 800px; */
    border-radius: 16px;
    flex-grow: 1;
}

.Not-choose-date
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 340px; */
    width: 800px;
    /* background-color: rebeccapurple; */
}

.Not-choose-date h6
{
    font-weight: 600;
    font-size: 16px;
    margin: 0px;
    /* background-color: red; */

}

.Not-choose-date img
{
    width: 250px;
    height: auto;
    /* background-color: blue; */
    margin: 0px;
}

.Choose-time
{
    /* padding-left: 10px; */
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    width: auto;

    /* background-color: aqua; */
}

.Choose-time h5
{
    font-style: italic;
}

.opt-time
{
    /* background-color: brown; */
    margin-right: 3rem;
}

/* ini untuk bubble time select */
.from-time-select
{
    width: 150px;
    height: 30px;
    border-radius: 16px;
    padding: 0px 5px;
    margin-bottom: 5px;
    font-family: "poppins", monospace;
}



.Choose-Washing-Machine
{
    height: auto;
    width: auto;
    /* padding-left: 10px; */
    /* background-color: aqua; */
}

.mr
{
    margin-right: 4px;
    margin-left: 4px;
}

input[type="radio"]
{
    display: none;
}

.custom-radio {
    width: 3rem;
    padding: 8px 0px;
    /* margin-bottom: 10px; */
    overflow-x: auto;
    border: 2px solid var(--primary);
    border-radius: 16px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 1.25rem;
    font-family: 'poppins';
    font-weight: 700;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.20);
}


input[type="radio"]:checked + .custom-radio {
    background-color: var(--primary);
}
.radio[disabled] + .custom-radio{
    background-color: #D9D9D9;
    cursor: default;
}

.btn-submit{
    width: 100%;
    padding: 8px 0px;
    border-radius: 20px;
    background-color: var(--primary);
    color: #fff;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
    /* margin-bottom: 5px; */
}
.btn-submit:hover{
    background-color: #16437f;
}

/* ini sisi pengguna hari ini */

.Look-Washing-Machine
{
    padding-top: 10px;
}
.Check-Users
{
    padding-top: 20px;
}
.today-user-box
{
    padding: 6px 16px 16px 16px;
    background-color: #fff;
    border-radius: 16px;
    width: 29%;
}

.today-user-box h3
{
    padding-left: 10px;
}

.Female-Washing-Machine
{
    height: 120px;
}

.Male-Washing-Machine
{
    height: 120px;
}

.empty
{
    margin: 0px;
    font-size: .85rem;
    color: rgba(120, 120, 120, 1);
    padding-left: 10px;
}

/* scrollable cowok */
.Users-Scrollable_M
{
    max-height: 180px;
    overflow-y: auto;
    border-radius: 8px;
    padding-top: 5px;
}

.Users-Scrollable_M::-webkit-scrollbar
{
    width: 5px;

}

.Users-Scrollable_M::-webkit-scrollbar-track{
    background-color: white;
}
.Users-Scrollable_M::-webkit-scrollbar-thumb{
    background-color: #e0e0e0;
}

.Users-Scrollable-M::-webkit-scrollbar-thumb:hover{
    background-color: #d3d3d3;
}

/* scrollable cewek */
.Users-Scrollable_F
{
    max-height: 125px;
    overflow-y: auto;
    border-radius: 8px;
    padding-top: 5px;
}

.Users-Scrollable_F::-webkit-scrollbar
{
    width: 5px;

}

.Users-Scrollable_F::-webkit-scrollbar-track{
    background-color: white;
}
.Users-Scrollable_F::-webkit-scrollbar-thumb{
    background-color: #e0e0e0;
}

.Users-Scrollable-F::-webkit-scrollbar-thumb:hover{
    background-color: #d3d3d3;
}



.wrap-detail-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    padding-right: 8px;
}

.wrap-detail-mid{
    margin-left: 10px;
    flex: 1; 
}

.wrap-detail-user img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;  
    cursor: pointer;
}
.wrap-detail-user .wrap-detail-mid h6{
    margin: 0px;
    font-size: .85rem;
    font-weight: 600;
}
.wrap-detail-user .wrap-detail-mid p{
    margin: 0px;
    font-size: .75rem;
    color: rgba(120, 120, 120, 1);
}
.wrap-detail-user .wrap-detail-right p{
    margin: 0px;
    font-size: .75rem;
    color: rgba(120, 120, 120, 1);
}

/* responsif */

@media screen and (max-width: 1440px)
{
    .schedule-box
    {
        width: auto;
    }

    .Not-choose-date
    {
        width: 705px;
    }

    .btn-submit
    {
        width: 690px;
    }

}

@media screen and (max-width: 1024px)
{
    h4
    {
        font-size: 0.9rem;
    }
    .schedule-box
    {
        width: auto;
    }

    .Not-choose-date
    {
        width: 460px;
    }

    .btn-submit
    {
        width: 450px;
    }

    .custom-radio {
        width: 2rem;
        padding: 4px 0px;
        border-radius: 8px;
        font-size: 1rem;
    }

    .today-user-box
    {
        width: 175px;
    }

    .Choose-Washing-Machine
    {
        height: 139px;
    }


}

@media screen and (max-width: 768px)
{
    .validate-date
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* align-items: center; */
    }

    .Not-choose-date
    {
        align-self: center;
    }
    .inner-box
    {
        flex-direction: column
    }

    .today-user-box
    {
        width: auto;
        margin-top: 15px;
    }

    h4
    {
        font-size: 1.1rem;
    }

    .custom-radio {
        width: 3rem;
        padding: 8px 0px;
        border-radius: 16px;
        font-size: 1.25rem;
    }

    .btn-submit
    {
        width: auto;
    }

    .wrap-detail-mid
    {
        padding-left: 20px;
    }

    .wrap-detail-right
    {
        padding-left: 20px;
    }

    .wrap-detail-user
    {
        justify-content: flex-start;
        padding-left: 10px;
    }

    .washing-machines
    {
        display: flex;
    }
}

@media screen and (max-width: 426px)
{
    h4
    {
        font-size: 0.95rem;
    }

    .custom-radio {
        width: 2rem;
        padding: 4px 0px;
        border-radius: 8px;
        font-size: 1rem;
    }

    .today-user-box
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
