body{
    font-family: "poppins";
}

.container-content{
    margin-right: 5px;
    margin-top: 15px;
    padding-bottom: 2px;
    border-radius: 16px;
}

.wrap-type{
    display: flex;
    flex-direction: column;
}

.wrap-type h3{
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 15px;
}

.wrap-fasum{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 0;
}

.wrap-allfasum{
    display: flex;
    flex-direction: row;
}

.wrap-report{
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
}

.wrap-report h3{
    margin: 0;
}

.wrap-report textarea{
    font-size: 16px;
}

.report-textarea{
    width: 90%;
}

textarea{
    border-radius: 16px;
    padding-top: 5px;
    padding-left: 10px;
}

.wrap-report h3{
    margin-left: 0;
    margin-bottom: 10px;
}

.wrap-photo-upload h3{
    margin-top: 10px;
    margin-bottom: 8px;
}

.wrap-photo-upload{
    margin-left: 20px;
}

.input-photo{
    border-radius: 10px;
}

.wrap-photo-upload input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: var(--primary);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}
  
input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

.wrap-submit{
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.wrap-submit button{
    width: 50vw;
    height: 4.5vh;
    background-color: var(--primary);
    color: var(--bg-primary);
    border-radius: 8px;
    border: none;
}

.wrap-fasum input{
    width: 20px;
}

@media screen and (max-width: 380px){
    .wrap-fasum p{
        font-size: 14px;
    }

    .wrap-photo-upload input[type=file]::file-selector-button{
        font-size: 10px;
    }

    textarea{
        max-height: 250px;
    }
}