body{
    font-family: "poppins";
}

.container-content{
    margin-right: 5px;
    margin-top: 15px;
    padding-bottom: 2px;
    border-radius: 16px;
}

.wrap-all{
    background: white;
    border-radius: 16px;
    padding-bottom: 1px;
}

.wrap-type{
    display: flex;
    flex-direction: column;
}

.wrap-type h3{
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 15px;
}

.wrap-fasum{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 0;
}

.wrap-allfasum{
    display: flex;
    flex-direction: row;
}

.wrap-fasum input{
    accent-color: var(--primary);
}

.wrap-report{
    width: 987;
    margin-left: 20px;
    margin-right: 20px;
}

.wrap-report h3{
    margin: 0;
}

.wrap-report textarea{
    font-size: 16px;
    height: 200px;
    width: 97%;
}

.report-textarea{
    resize: none;
}

textarea{
    border-radius: 16px;
    padding-top: 20px;
    padding-left: 20px;
    border: solid 2px var(--primary);
    font-family: "poppins";
}

.wrap-report h3{
    margin-left: 0;
    margin-bottom: 10px;
}

.wrap-photo-upload h3{
    margin-top: 10px;
    margin-bottom: 8px;
}

.wrap-photo-upload{
    margin-left: 20px;
}

.input-photo{
    border-radius: 10px;
}

.wrap-photo-upload input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: var(--bg-secondary);
    color: var(--primary);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background .2s ease-in-out;
}

.wrap-submit{
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.wrap-submit button{
        width: 95%;
        padding: 10px 0px;
        border-radius: 8px;
        background-color: var(--primary);
        color: #fff;
        font-size: 1.1rem;
        border: none;
        cursor: pointer;
        transition: all .2s ease-in-out;
        margin-bottom: 20px;
}

.wrap-submit button:hover{
    background-color: #16437f;
    cursor: pointer;
}

.wrap-fasum input{
    width: 20px;
}

@media screen and (max-width: 769px){
    .wrap-submit button{
        width: 93%;
        height: 4.5vh;
        background-color: var(--primary);
        color: var(--bg-primary);
        border-radius: 8px;
        border: none;
    }
}

@media screen and (max-width: 380px){
    .wrap-fasum p{
        font-size: 14px;
    }

    .wrap-photo-upload input[type=file]::file-selector-button{
        font-size: 10px;
    }
    .wrap-report textarea{
        font-size: 16px;
        height: 200px;
        width: 91%;
    }
    .wrap-submit button{
        width: 85%;
        height: 4.5vh;
        background-color: var(--primary);
        color: var(--bg-primary);
        border-radius: 8px;
        border: none;
    }
}