
h4{
    margin-top: 10px;
    margin-bottom: 8px;
}


.wrap-content {
    display: flex;
    justify-content: space-between;
}

.wrap-content .wrap-left {
    padding: 6px 16px 16px 16px;
    background-color: #fff;
    border-radius: 16px;
    width: 65%;
}

.wrap-content .wrap-validate-choose-date .wrap-span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrap-content .wrap-validate-choose-date .wrap-span img {
    width: 250px;
    height: auto;
}
.wrap-content .wrap-validate-choose-date .wrap-span h6 {
    font-size: 16px;
    margin: 0px;
    font-weight: 600;
}

.wrap-time{
    display: flex;
    flex-direction: row;
}

.from-time{
    margin-right: 8vw;
    margin-bottom: 70px;
}

.wrap-time h5{
    margin-top: 0;
    margin-bottom: 5px;
}

.wrap-date a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.wrap-time{
    padding-left: 20px;
}

.wrap-submit{
    margin-top: 15x;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.wrap-submit button{
    width: 50vw;
    height: 40px;
    background-color: var(--primary);
    color: var(--bg-primary);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.validate-choose-date{
    color: black;
    font-style: italic;
}

.from-time-select{
    width: 120px;
    height: 30px;
    border-radius: 16px;
    padding: 0px 5px;
    margin-bottom: 5px;
    font-family: "poppins", monospace;
}

.to-time-select {
    width: 120px;
    height: 30px;
    border-radius: 16px;
    padding: 0px 5px;
    margin-bottom: 5px;
    font-family: "poppins", monospace;
}
.wrap-right {
    padding: 6px 16px 16px 16px;
    background-color: #fff;
    border-radius: 16px;
    width: 29%;
}

.wrap-right h5{
    font-size: 1rem;
    font-weight: 700;
    margin: 16px 0px 8px 0px;
}

.ml-0{
    margin-left: 0px;
}

.wrap-scrollable{
    max-height: 200px;
    overflow-y: auto;
    border-radius: 8px;
    scrollbar-width: none;
}
.empty{
    margin: 0px;
    font-size: .85rem;
    color: rgba(120, 120, 120, 1);
}

.wrap-scrollable::-webkit-scrollbar{
    width: 5px;
}

.wrap-scrollable::-webkit-scrollbar-track{
    background-color: white;
}
.wrap-scrollable::-webkit-scrollbar-thumb{
    background-color: #e0e0e0;
    border-radius: 16px;
}
.wrap-scrollable::-webkit-scrollbar-thumb:hover{
    background-color: #d3d3d3;
}

.wrap-detail-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.wrap-detail-user img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;  
    cursor: pointer;
}
.wrap-detail-user .wrap-detail-mid h6{
    margin: 0px;
    font-size: .85rem;
    font-weight: 600;
}
.wrap-detail-user .wrap-detail-mid p{
    margin: 0px;
    font-size: .75rem;
    color: rgba(120, 120, 120, 1);
}
.wrap-detail-user .wrap-detail-right p{
    margin: 0px;
    font-size: .75rem;
    color: rgba(120, 120, 120, 1);
}

@media screen and (max-width: 1440px) {
    .wrap-right {
        padding: 6px 16px 16px 9px;
    }
    
}

@media screen and (max-width: 1024px) {
    .wrap-content .wrap-left{
        width: 63%;
    }
    .wrap-content .wrap-right {
        padding: 6px 16px 16px 16px;
        width: 25%;
    }
    .wrap-scrollable{
        max-height: 220px;
        overflow-y: auto;
        border-radius: 8px;
        scrollbar-width: none;
    }
}

@media screen and (max-width: 768px) {
    .wrap-content{
        flex-direction: column;
        row-gap: 16px;
    }
    .wrap-content .schedule-box{
        width: 95%;
    }
    .wrap-content .wrap-left{
        width: 95%;
    }
    .wrap-content .wrap-right{
       display: flex;
       width: 95%;
    }
    .wrap-right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wrap-content .wrap-right .wrap-scrollable{
        max-height: 200px;
    }
    .wrap-content .wrap-right .wrap-scrollable .wrap-detail-user{
        gap: 24px;
    }
    .wrap-content .wrap-right .wrap-scrollable .wrap-detail-user .wrap-detail-right p{
        margin-right: 32px;
    }
    .wrap-submit button{
        width: 200vw;
    }
        
}

@media screen and(max-width: 425px) {
    .wrap-date{
        gap: 16px;
        height: 100%;
        max-width: 400px;
        justify-content: start;
        overflow-x: auto;
    }
    .wrap-content{
        display: flex;
        align-items: center;
    }
    .wrap-content .schedule-box{
        width: 75%;
    }
    .wrap-submit{
        margin-top: 20px;
    }
    .wrap-submit button{
        width: 95%;
    }
    .wrap-content .wrap-right{
        gap: 16px;
        width: 78%;
    }
    .wrap-right{
        display: flex;
        flex-direction: column;
    }
    .wrap-content .wrap-right .wrap-scrollable{
        max-height: 200px;
    }
    .wrap-content .wrap-right .wrap-scrollable .wrap-detail-user{
        gap: 8px;
    } 
    .wrap-content .wrap-right .wrap-scrollable .wrap-detail-user .wrap-detail-right p{
        margin-right: 0px;
    }
    .wrap-detail-user img{
        width: 2rem;
        height: 2rem;
    }
    .wrap-detail-user .wrap-detail-mid h6{
        font-size: .75rem;
    }
    

}

@media screen and (max-width: 375px) {
    .wrap-time .from-time-select{
        width: 80px;
    }
    .wrap-time .to-time-select{
        width: 80px;
    }
}